ActivityLifecycle/.gitignore
ActivityLifecycle/gradle.properties
ActivityLifecycle/gradlew
ActivityLifecycle/gradlew.bat
ActivityLifecycle/.idea/
ActivityLifecycle/app/src/androidTest/
ActivityLifecycle/app/proguard-rules.pro
ActivityLifecycle/app/src/test/java/com/sheltortoiseusa/activitylifecycle/ExampleUnitTest.java
ActivityLifecycle/gradle/wrapper/
ActivityLifecycle/app/.gitignore
AdvancedPinchZoom/.gitignore
AdvancedPinchZoom/gradle.properties
AdvancedPinchZoom/gradlew
AdvancedPinchZoom/gradlew.bat
AdvancedPinchZoom/.idea/
AdvancedPinchZoom/app/.gitignore
AdvancedPinchZoom/app/proguard-rules.pro
AdvancedPinchZoom/app/src/androidTest/java/com/sheltortoiseusa/advancedpinchzoom/ExampleInstrumentedTest.java
AdvancedPinchZoom/app/src/test/
AdvancedPinchZoom/gradle/wrapper/
Ascii Camera/.gitignore
Ascii Camera/gradle.properties
Ascii Camera/gradlew
Ascii Camera/gradlew.bat
Ascii Camera/.idea/
Ascii Camera/app/.gitignore
Ascii Camera/app/proguard-rules.pro
Ascii Camera/app/src/androidTest/
Ascii Camera/app/src/test/
Ascii Camera/gradle/wrapper/
AsyncTaskCounter/.gitignore
AsyncTaskCounter/gradle.properties
AsyncTaskCounter/gradlew
AsyncTaskCounter/gradlew.bat
AsyncTaskCounter/.idea/
AsyncTaskCounter/app/.gitignore
AsyncTaskCounter/app/proguard-rules.pro
AsyncTaskCounter/app/src/androidTest/
AsyncTaskCounter/app/src/test/
AsyncTaskCounter/gradle/wrapper/
BrewingBeer/.gitignore
BrewingBeer/gradle.properties
BrewingBeer/gradlew
BrewingBeer/gradlew.bat
BrewingBeer/.idea/
BrewingBeer/app/.gitignore
BrewingBeer/app/proguard-rules.pro
BrewingBeer/app/src/androidTest/
BrewingBeer/app/src/test/
BrewingBeer/gradle/wrapper/
Calculator/.gitignore
Calculator/gradle.properties
Calculator/gradlew
Calculator/gradlew.bat
Calculator/.idea/
CoffeeCorner/.idea/
Contacts/.idea/
DesignLesson/.idea/
Earthquake/.idea/
EastwoodLawyers/.idea/
FibonacciFlower/.idea/
FollowMeAndroidBuddy/.idea/
HappytoSad/.idea/
HelloGoodbye/.idea/
HowToUseIntents/.idea/
LeviC-Curve/.idea/
MoquelumnanCounting/.idea/
PetFish/.idea/
Stopwatch/.idea/
TapButtonCounter/.idea/
ThreadCount/.idea/
ThreadsDemo/.idea/
TimeStamper/.idea/
TimeStamper/gradle/wrapper/
Calculator/app/.gitignore
Calculator/app/proguard-rules.pro
CoffeeCorner/.gitignore
CoffeeCorner/gradle.properties
CoffeeCorner/gradlew
CoffeeCorner/gradlew.bat
CoffeeCorner/app/.gitignore
CoffeeCorner/app/proguard-rules.pro
Contacts/.gitignore
Contacts/gradle.properties
Contacts/gradlew
Contacts/gradlew.bat
Contacts/app/.gitignore
Contacts/app/proguard-rules.pro
DesignLesson/.gitignore
DesignLesson/gradle.properties
DesignLesson/gradlew
DesignLesson/gradlew.bat
DesignLesson/app/.gitignore
DesignLesson/app/proguard-rules.pro
Earthquake/.gitignore
Earthquake/gradle.properties
Earthquake/gradlew
Earthquake/gradlew.bat
Earthquake/app/.gitignore
Earthquake/app/proguard-rules.pro
EastwoodLawyers/.gitignore
EastwoodLawyers/gradle.properties
EastwoodLawyers/gradlew
EastwoodLawyers/gradlew.bat
EastwoodLawyers/app/.gitignore
EastwoodLawyers/app/proguard-rules.pro
FibonacciFlower/.gitignore
FibonacciFlower/gradle.properties
FibonacciFlower/gradlew
FibonacciFlower/gradlew.bat
FibonacciFlower/app/.gitignore
FibonacciFlower/app/proguard-rules.pro
FibonacciFlower/projectFilesBackup/.idea/workspace.xml
FollowMeAndroidBuddy/.gitignore
FollowMeAndroidBuddy/gradle.properties
FollowMeAndroidBuddy/gradlew
FollowMeAndroidBuddy/gradlew.bat
FollowMeAndroidBuddy/app/.gitignore
FollowMeAndroidBuddy/app/proguard-rules.pro
HappytoSad/.gitignore
HappytoSad/gradle.properties
HappytoSad/gradlew
HappytoSad/gradlew.bat
HappytoSad/app/.gitignore
HappytoSad/app/proguard-rules.pro
HelloGoodbye/.gitignore
HelloGoodbye/gradle.properties
HelloGoodbye/gradlew
HelloGoodbye/gradlew.bat
HelloGoodbye/app/.gitignore
HelloGoodbye/app/proguard-rules.pro
HowToUseIntents/.gitignore
HowToUseIntents/build.gradle
HowToUseIntents/gradle.properties
HowToUseIntents/gradlew
HowToUseIntents/gradlew.bat
HowToUseIntents/app/.gitignore
HowToUseIntents/app/proguard-rules.pro
LeviC-Curve/.gitignore
LeviC-Curve/gradle.properties
LeviC-Curve/gradlew
LeviC-Curve/gradlew.bat
LeviC-Curve/app/.gitignore
LeviC-Curve/app/proguard-rules.pro
MoquelumnanCounting/.gitignore
MoquelumnanCounting/gradle.properties
MoquelumnanCounting/gradlew
MoquelumnanCounting/gradlew.bat
MoquelumnanCounting/app/.gitignore
MoquelumnanCounting/app/proguard-rules.pro
PetFish/.gitignore
PetFish/gradle.properties
PetFish/gradlew
PetFish/gradlew.bat
PetFish/app/.gitignore
PetFish/app/proguard-rules.pro
Stopwatch/.gitignore
Stopwatch/gradle.properties
Stopwatch/gradlew
Stopwatch/gradlew.bat
Stopwatch/app/.gitignore
Stopwatch/app/proguard-rules.pro
TapButtonCounter/.gitignore
TapButtonCounter/gradle.properties
TapButtonCounter/gradlew
TapButtonCounter/gradlew.bat
TapButtonCounter/app/.gitignore
TapButtonCounter/app/proguard-rules.pro
ThreadCount/.gitignore
ThreadCount/gradle.properties
ThreadCount/gradlew
ThreadCount/gradlew.bat
ThreadCount/app/.gitignore
ThreadCount/app/proguard-rules.pro
ThreadsDemo/.gitignore
ThreadsDemo/gradle.properties
ThreadsDemo/gradlew
ThreadsDemo/gradlew.bat
ThreadsDemo/app/.gitignore
ThreadsDemo/app/proguard-rules.pro
TimeStamper/.gitignore
TimeStamper/build.gradle
TimeStamper/gradle.properties
TimeStamper/gradlew
TimeStamper/gradlew.bat
TimeStamper/app/.gitignore
TimeStamper/app/proguard-rules.pro
Calculator/app/src/androidTest/
Calculator/app/src/test/
Calculator/gradle/wrapper/
CoffeeCorner/app/src/androidTest/
CoffeeCorner/app/src/test/
CoffeeCorner/gradle/wrapper/
Contacts/app/src/androidTest/
Contacts/app/src/test/
Contacts/gradle/wrapper/
DesignLesson/app/src/androidTest/
DesignLesson/app/src/test/
DesignLesson/gradle/wrapper/
Earthquake/app/src/androidTest/
Earthquake/app/src/test/
Earthquake/gradle/wrapper/
EastwoodLawyers/app/src/androidTest/
EastwoodLawyers/app/src/test/
EastwoodLawyers/gradle/wrapper/
FibonacciFlower/app/src/androidTest/
FibonacciFlower/app/src/test/
FibonacciFlower/gradle/wrapper/
FollowMeAndroidBuddy/app/src/androidTest/
FollowMeAndroidBuddy/app/src/test/
FollowMeAndroidBuddy/gradle/wrapper/
HappytoSad/app/src/androidTest/
HappytoSad/app/src/test/
HappytoSad/gradle/wrapper/
HelloGoodbye/app/src/androidTest/
HelloGoodbye/app/src/test/
HelloGoodbye/gradle/wrapper/
HowToUseIntents/app/src/androidTest/
HowToUseIntents/app/src/test/
HowToUseIntents/gradle/wrapper/
LeviC-Curve/app/src/androidTest/
LeviC-Curve/app/src/test/
LeviC-Curve/gradle/wrapper/
MoquelumnanCounting/app/src/androidTest/
MoquelumnanCounting/app/src/test/
MoquelumnanCounting/gradle/wrapper/
PetFish/app/src/androidTest/
PetFish/app/src/test/
PetFish/gradle/wrapper/
Stopwatch/app/src/androidTest/
Stopwatch/app/src/test/
Stopwatch/gradle/wrapper/
TapButtonCounter/app/src/androidTest/
TapButtonCounter/app/src/test/
TapButtonCounter/gradle/wrapper/
ThreadCount/app/src/androidTest/
ThreadCount/app/src/test/
ThreadCount/gradle/wrapper/
ThreadsDemo/app/src/androidTest/
ThreadsDemo/app/src/test/
ThreadsDemo/gradle/wrapper/
TimeStamper/app/src/androidTest/
TimeStamper/app/src/test/
ComposeBasics/.gitignore
ComposeBasics/build.gradle
ComposeBasics/gradle.properties
ComposeBasics/gradlew
ComposeBasics/gradlew.bat
ComposeBasics/.idea/
ComposeBasics/app/.gitignore
ComposeBasics/app/proguard-rules.pro
ComposeBasics/app/src/androidTest/
ComposeBasics/app/src/test/
ComposeBasics/gradle/wrapper/
FO4Economizer/.gitignore
FO4Economizer/gradle.properties
FO4Economizer/gradlew
FO4Economizer/gradlew.bat
FO4Economizer/.idea/
FO4Economizer/app/src/test/
FO4Economizer/gradle/wrapper/
FO4Economizer/app/src/androidTest/
FO4Economizer/app/.gitignore
FO4Economizer/app/proguard-rules.pro
